<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roboter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.roboter.DanceBotActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.roboter.MusicActivity"
            android:label="Music" >
        </activity>
        <activity
            android:name="com.example.roboter.HelpActivity"
            android:label="Help" >
        </activity>
        <activity
            android:name="com.example.roboter.HighscoreActivity"
            android:label="HighScore" >
        </activity>
        <activity
            android:name="com.example.roboter.MyMusicActivity"
            android:label="MyMusic" >
        </activity>
        <activity
            android:name="com.example.roboter.ExampleMusicActivity"
            android:label="ExampleMusic" >
        </activity>
        <activity
            android:name="com.example.roboter.LoadActivity"
            android:label="Load" >
        </activity>
        <activity
            android:name="com.exampleroboter.PlayActivity"
            android:label="Play" >
        </activity>
    </application>

</manifest>